*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Nunito', Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0, auto;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2rem;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

//增加點擊範圍
a {
  display: block;
  text-decoration: none;
  color: aliceblue;
}
