.sideBar {
  border: 1px solid #000400;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  .sideBarBtn {
    width: 100%;
    background-color: #03438d;
    box-shadow: -2px 2px 0px #000400;
    &:hover {
      background-color: #eec32a;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
  }
  .sideBar-List {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    position: relative;
    &:hover {
      color: #03438d;
      cursor: pointer;
    }
  }
  .icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e2edfa;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;

    position: relative; /* Make it a container for the icon */
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: inherit; /* Inherit background color from .icon-circle */
    border-radius: inherit; /* Inherit border-radius from .icon-circle */
  }
}

.filters {
  display: flex;
  justify-content: space-between;
}
.postsWall {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 3px 0px #000400;
  margin-bottom: 16px;
  .post {
    span {
      font-size: 12px;
      color: #9b9893;
    }
  }
  .postImages {
    img {
      width: 485px;
      height: 157px;
      border-radius: 8px;
    }
  }
}
.comments {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 3px 0px #000400;
  margin-bottom: 16px;
  img {
    width: 45px;
    height: 45px;
  }
  span {
    font-size: 12px;
    color: #9b9893;
  }
}
